body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    background-color: #fff;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #ccc;
}

div.izquierda {
    width: 40%;
    float: left;
    padding: 10px;
    border-right: 1px solid #ccc;
}

div.derecha {
    width: 40%;
    float: right;
    padding: 10px;
}

div.productos {
    clear: both;
    padding: 10px;
}

div.totales {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ccc;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[readonly] {
    background-color: #eee;
}

/* Estilo general para los elementos de la clase "totales" */
.totales {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Estilo para los campos de descuento y sus etiquetas */
#descuento {
    text-align: right;
    margin-right: 10px;
    width: 10%;
}

label[for="descuento"] {
    text-align: right;
}

/* Estilo para los contenedores de Total PVR y Precio Neto Total y sus etiquetas */
.total-pvr-container,
.precio-neto-total-container {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
    color: #0066cc; /* Cambia esto al color deseado */
    font-size: 1.2em; /* Ajusta el tamaño de fuente según tus preferencias */
    font-weight: bold;
}

/* Estilo para los campos Total PVR y sus etiquetas */
#total_pvr, label[for="total_pvr"] {
    text-align: right;
}

/* Estilo para el campo Precio Neto Total y su etiqueta */
#precio_neto_total, label[for="precio_neto_total"] {
    text-align: right;
    font-weight: bold;
    font-size: 1.2em; /* Ajusta el tamaño de fuente según tus preferencias */
}


